* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

ul {
    list-style: none;
    display: flex;
    gap: 16px;
}

a {
    color: #e5e7eb;
    text-decoration: none;
}

a:hover {
    color: #aaabac;
}

img {
    height: 25vh;
    width: auto;
}

.header {
    background-color: #1f2937;
    color: #f9faf8;
    padding: 16px 48px 60px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo h1 {
    font-size: 24px;
}

.info {
    padding-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}

.info .title {
    font-size: 48px;
    font-weight: bolder;
    line-height: 0.9;
    margin-bottom: 16px;
}

.info .about {
    font-size: 18px;
    margin-bottom: 16px;
    font-style: italic;
}

button {
    background-color: #3882f6;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    color: #f9faf8;
    cursor: pointer;
    font-weight: bolder;
}

.watch-button:hover {
    background-color: #f9faf8;
    color: #3882f6;
}